@font-face {
	font-family: Montserrat_Light;
	src: url(./fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
	font-family: Montserrat_Bold;
	src: url(./fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
	font-family: Montserrat_Medium;
	src: url(./fonts/Montserrat/Montserrat-Medium.ttf);
}

body {
	background: #ECF0F1 !important;
}

.fullheight {
	height: 100vh;
}

/* table body-cell font-size */
td {
	font-size: 13px;
}

/* radio font-size */
.custom-radio .custom-control-label {
	font-size: 13px;
}

/* checkbox font-size */
.custom-checkbox .custom-control-label {
	font-size: 13px;
}

/* input, select, textarea font-size */
input, select, textarea {
	font-size: 13px !important;
}

input:focus, input:active, select:focus, select:active,
.btn:focus, .btn:active, .page-link:active, .page-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

canvas#line-chart {
  background-color: #fff;
}
